@use '../abstracts/variables'as *;

.contact-intro {
  margin-left: $text-padding-left;
  margin-right: $text-padding-right;

  h2 {
    margin-left: 4px;
  }
}

.contact-container {
  margin: 60px auto;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 80vw;
  max-width: 600px;
  padding: 18px;
  font-size: 18px;
  border: 2px solid black;
  background-color: white;
  resize: none;
  box-sizing: border-box;
  border-radius: 4px;
}

.contact-form textarea {
  height: 180px;
}

.contact-form button {
  padding: 15px 30px;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.contact-form button:hover {
  background-color: #f0f0f0;
}