@use '../abstracts/variables' as *;

.timeline-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.timeline-column {
  flex: 0 0 auto;
}

.timeline-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;

  @media (max-width: 1530px) {
    width: 250px;
    height: 250px;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}

.timeline-left-label {
  margin-bottom: 0.5rem;

  @media (min-width: 768px) {
    margin-bottom: 0;
    padding-right: 4rem;
  }
}

.mechabust-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
