@use '../abstracts/variables' as *;
@use 'sass:math';

.video-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.video-row {
  background-color: none;
  isolation: isolate;
}

.video-row video {
  display: block;
  filter: contrast(1.05);
}

.video-wrapper {
  width: 100%;
  max-width: 200px;
  aspect-ratio: 9 / 12;
  //background: #000;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: multiply;
}

.native-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: #444;
}

.video-glueless {
  margin-top: -0px;
}
