$breakpoint-sm: 400px;
$breakpoint-md: 800px;
$breakpoint-lg: 1200px;

$text-indent: 1em;

//------------------h1.h2------------------

$h1-font-size: 160px;
$sub-h1-font-size: 36.5px;
$sub-h1-width: 515px;
$sub-h1-font-margin-top: -20px;
$sub-letter-spacing: 2px;

$h2-font-weight: 500;
$h2-font-height: 1.1;
$h2-font-size: 45px;
$sub-h2-font-size: 31px;
$sub-h2-width: 530px;
$h2-letter-spacing: 3px;
$h2-margin-bottom: 0px;
$h2-text-shadow: 3px 0 0 #ffffff;

$bg-color: #c4b782;
$pattern: 300px;

$primary-color: rgb(0, 0, 0);
$secondary-color: #fff;

$title-fontsize: 60px;

//------------------quotes------------------
$q-margin-bottom: 20px;
//------------------Paragraph------------------

$p-padding: 0px;
$body-font-size: 18px;
$body-line-height: 1.3;

$text-padding-left: 7px;
$text-padding-right: 3px;

//------------------hero section------------------
$hero-separator-width: 700px;
$hero-separator-height: 280px;
$hero-separator-step: 75px;
$hero-margin-bottom: 30px;

$cta-padding-left: 10px;
$cta-padding-top: 0px;
$cta-font-size: 3.5em;
$cta-span-font-size: 1.3em;
$cta-line-height: 1em;

$cta-top: 115.234px;

$cta-button-top: 150px;
$cta-button-margin-top: 7px;
$cta-button-width: 350px;

$hero_foreground_maxWidth: 990px;
$hero_foreground_horizMove: -0px;
$hero_foreground_vertMove: -190px;
//------------------feature__icons------------------

$feature__margin-top: 14px;
$feature__icon-width: 100px;
$feature__icon-vertical-padding: 12px;

//------------------media carousel------------------

$subassembly-title-margin: 3.01rem;
$media-carousel-min-width: 90px;
$media-font-size: 40px;
$media-line-height: 47px;
$caroussel-side-margins: 2.12rem;

$overflow-image-top: -46px;
$overflow-image-right: 0px;
$overflow-image-width: 50%;
$overflow-image-max-width: 300px;

//------------------brand-header------------------

$logo-size-small: 32px;
$logo-size-medium: 50px; // This matches your current 50x50
$logo-size-large: 80px;
$logo-size: 195px;

$logo-margin-top: 10.2px;
$logo-margin-left: 9.3px;

$brand-heading-margin-left: -17px;

//background size
//background position