.support-page {
  h2 {
    color: black !important;
  }
}

.faq {
  margin: 0 calc(50% - 50vw);
  padding: 0 1rem;
}

.faq .szh-accordion__item {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  margin-bottom: 12px;
}

.faq .accordion-header {
  font: inherit;
  border: none;
  background: rgb(192, 172, 124);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 1rem;
  font-weight: 600;
  line-height: 1.3;
  cursor: pointer;
}

.faq .accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 1rem;

  font-weight: 600;
  line-height: 1.3;
  cursor: pointer;
}

.faq .szh-accordion__item-panel {
  padding: 1rem;
  padding-left: 2rem;
  line-height: 1.6;
}

.arrow {
  transition: transform 0.25s ease;
}

.faq .szh-accordion__item--expanded .arrow {
  transform: rotate(180deg);
}

.faq .szh-accordion__item-btn {
  font: inherit;
  border: none;
  background: white;
  width: 100%;
  padding: 0;
  text-align: left;
  cursor: pointer;
}

.logo-link {
  margin-top: 12px;
}

.contact-page .brand-header {
  --logo-h: 112px;
}


@media (max-width: 1200px) {
  .logo-link {
    margin-top: 11px;
    padding-bottom: 5px;
  }

  .contact-page .brand-header {
    --logo-h: 98px;
  }
}